@use 'sass:color';
@use 'src/styles/vars';

.title {
  font-family: vars.$title-font;
  font-weight: vars.$title-font-weight;
  color: vars.$primary-color;
  font-size: 2em;
  text-align: center;
  margin: 1em;
}
